* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  border: 2px solid green;
  height: 15%;
  min-width: inherit;

  padding: 10px;
  text-align: center;
  background: #f9f7f7;

  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.nav {
  border: 2px solid red;
  height: 5%;
  width: inherit;
  margin: 30px;
}

.resize {
  width: 300px;
  height: 150px;
}

.resize-logo {
  width: 200px;
  height: 100px;
}
.article-item {
  padding: 2px;
}
.side-panel {
  padding-left: 1rem;
  width: 220px;
  background-color: #ffffff;
  position: fixed;
  height: 450px;
  overflow: auto;
  margin: 30px;
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
}

.side-panel a.active {
  background-color: #04aa6d;
  color: white;
}

.side-panel a:hover:not(.active) {
  background-color: #555;
  color: white;
}
img {
  width: 100%;
  height: auto;
  height: 250px;
  object-fit: cover;
}
.details {
  padding-left: 1rem;
  margin-left: 300px;
  font-size: 20px;
  height: 450px;
  overflow: auto;
  background-color: white;
  width: 1100px;
  position: fixed;
  margin-right: 30px;
  margin-top: 30px;
  border: 2px solid green;
}

.footer {
  border: 2px solid red;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f9f7f7;
  color: red;
  height: 15%;
  text-align: center;
}
