* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main main"
    "footer footer footer footer footer footer";
  gap: 10px;
  background-color: #f8f3f2;
  padding: 10px;
}

.grid-container > div {
  padding: 10px;
  font-size: 16px;
}

.item1 {
  grid-area: header;
  background-color: #223d3c;
  text-align: center;
  color: #ffffff;
  height: fit-content;
  line-height: 1.2rem;
}
.item1 > h1 {
  font-size: 40px;
}

.item2 {
  grid-area: menu;
}

.item2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item2 li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #223d3c;
  color: #ffffff;
  line-height: 2rem;
}

.item2 li:hover {
  background-color: #f8f3f2;
  color: #223d3c;
}

.item3 {
  grid-area: main;
  padding-left: 30px;
}

.item3 > h1 {
  font-size: 30px;
  margin-bottom: 7px;
}

.item3 > p {
  margin-bottom: 7px;
}

.item4 {
  grid-area: right;
  border: 5px solid #223d3c;
  background-color: white;
  padding: 15px;
  color: #000000;
  border-radius: 8px;
}

.item4 > h2 {
  font-size: 20px;
  padding-bottom: 10px;
}

.item4 li {
  padding: 5px;
  margin-bottom: 5px;
}

.item5 {
  grid-area: footer;
  background-color: #223d3c;
  color: #ffffff;
  text-align: center;
  height: fit-content;
}

.resize {
  width: 75%;
  height: 60%;
}

.resize-logo {
  width: 10%;
  height: 20%;
}
.article-item {
  padding: 2px;
}
/* .side-panel {
  padding-left: 1rem;
  width: 220px;
  background-color: #ffffff;
  position: fixed;
  height: 470px;
  overflow: auto;
  margin: 30px;
  border: 2px solid green;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.side-panel a.active {
  background-color: #04aa6d;
  color: white;
}

.side-panel a:hover:not(.active) {
  background-color: #555;
  color: white;
} */
img {
  object-fit: cover;
  border-radius: 8px;
}
/* .details {
  padding-left: 1rem;
  margin-left: 300px;
  font-size: 20px;
  height: 470px;
  overflow: auto;
  background-color: white;
  width: 1100px;
  position: fixed;
  margin-right: 30px;
  margin-top: 30px;
  border: 2px solid lightgoldenrodyellow;
  display: flex;
  align-items: center;
  flex-direction: column;
} */

/* .footer {
  border: 2px solid red;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f9f7f7;
  color: red;
  height: 15%;
  text-align: center;
} */

/* .line-height {
  line-height: 1.5;
}

.color-bk {
  background-color: cadetblue;
}

.color-title {
  background-color: rosybrown;
} */

.comments {
  background-color: #ffffff;
  padding: 5px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topic-item {
  display: flex;

  flex-direction: row;
}

.title-bold {
  font-weight: bold;
}

.line-height {
  line-height: 1.2rem;
}
